body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr.solid {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 164px;
}

/* ::-webkit-scrollbar {
  background: transparent;
} */

.noteContainer {
  display: grid;
  border-style: solid;
  border-width: 1px;
  grid-template-columns: 195px auto;
  height: 75vh;
  width: 1500px;
  margin-left: 50px;
  margin-top: 50px;
}

.notesTab {
  border-width: 1px;
  border-style: solid;
  background-color: #EDEDED;
}

.noteEditor {
  display: block;
}

textarea {
  margin-left: 155px;
  margin-top: 50px;
  padding-right: 130px; 
  height: 568px;
  width: 1012px;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
}

.noteTitle {
  margin-left: 155px;
  margin-top: 50px;
  border-style: none;
}

.searchBarContainer {
  margin-top: 27px;
  margin-left: 15px;
  margin-bottom: 11px;
  display: inline-block;
}

.magnifyingGlass {
  position: absolute;
  left: 170px;
  top: 83px;
}

.searchBar {
  border-style: none;
  width: 125px;
  height: 25px;
  border-radius: 10px;
}

.searchBar:focus {
  outline:none;
}

.createNoteButton {
  margin-left: 14px;
  border-style: none;
  border-radius: 8px;
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
}

.createNoteButton svg {

}

.savedNotes {

}

.individualNote {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}